/* header section style */
* {
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav>button>a {

    font-size: 16px;
    font-weight: 600;

}

nav>button {
    background-color: aliceblue;
    border-radius: 10px;
    padding: 20px;
}

.banner {
    background-image: url('assets/Hero-bg.png');
    background-repeat: no-repeat;
    margin-top: 20px;
    text-align: center;
    padding: 30px;
}

.banner>h1 {
    font-size: 45px;

}

.banner>p {
    color: rgb(25, 29, 37);
    font-size: 16px;
    padding: 10px 100px;
    font-weight: 400;

}

.banner>button>a {
    color: azure;
    font-size: 20px;
    font-weight: 500;
}

.banner>button {
    background-color: black;
    padding: 16px;
    border-radius: 10px;
}

/* main part style  */

main {
    margin: 50px 130px;
}

/* development section  */
.development {
    border-radius: 16px;

    background: rgba(13, 19, 33, 0.02);
    padding: 60px 80px;
    text-align: center;
}

.layer {
    display: flex;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: left;
    padding: 50px;
    gap: 40px;
}

.layer>div>h3 {
    font-size: 26px;
}

.layer>div>button {
    background-color: white;
    border: 2px solid;
    margin: 16px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

.layer-2 {
    margin: 50px 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: right;
}

/* inspiration section style */
.inspiration {
    margin: 30px;
    text-align: center;
}

.inspiration>h1 {
    font-size: 45px;
}

.inspiration>p {
    font-size: 16px;
    font-weight: 200;
    margin: 50px 0;
}

/* my Target section style  */
.target {
    margin: 90px 0;
    text-align: center;
}

.target>h1 {
    font-size: 30px;
}

.card {

    display: flex;
    text-align: left;
    margin: 50px 0;
    justify-content: space-around;
    gap: 30px;
}

.card-1,
.card-2,
.card-3 {
    border-radius: 16px;
    padding: 30px;
}

.card-1 {
    background: rgba(255, 76, 30, 0.05);
}

.card-2 {
    background: rgba(0, 76, 232, 0.05);
}

.card-3 {
    background: rgba(255, 223, 0, 0.05);
}

.card-1>a,
.card-2>a,
.card-3>a {
    text-decoration: underline;

}

/* I need Support */
.support {
    background-image: url('assets/handshake.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 16px;
}

.support>h1 {
    font-size: 45px;
    font-weight: 600;
    padding-top: 100px;
    margin-top: 10px;
    color: white;

}

.support>p {
    font-size: 14px;
    color: white;
}

#search {
    margin: 70px 0;
    padding: 16px 70px;
    width: 500px;
    border-radius: 10px;
}

.submit {
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600px;
}

/* footer section  */
#footer {
    background-color: rgb(248, 244, 238);
    display: flex;
    justify-content: space-around;
    align-items: center;
}